#toper{
    font-family: 'Festive', cursive;
    width: 100%;
    text-align: center;
    line-height: 10px;
}
#table{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
.grid{
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: start;
}
.second_shift{
    margin-left:21%;
}
.rg{
    font-family: sans-serif;
    line-height: 4px;
}
.break{
    width: 1%;
    transform: rotate(-90deg);
}
#main_table{
    width: 90%;
    margin: auto;
}
